{% extends 'base.html.twig' %}

{% block title %}Direcciones{% endblock %}

{% block headerlink %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Direccion</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }} {# Incluir CSS generado para map.js #}
    <link rel="stylesheet" href="{{ absolute_url(asset('/lib/lib/assets/css/appadmin.css')) }}"/>


{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tipo Domicilio</th>
                    <th>Principal</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for domicilio in domicilios %}
                    <tr>
                        <td>{{ domicilio.CPersona }}</td>
                        <td>{{ domicilio.DirPrincipal ? 'Sí' : 'No' }}</td>
                        <td>{{ domicilio.Direccion }}</td>
                        <td>
                            <a class="btn btn-coop" href="{{ path('domicilio_edit') }}" >
                               <span class="align-middle">Modificar</span> 
                            </a>
                            {# <a class="btn btn-success" href="{{ path('app_tpersonadata_new') }}" id="newuser">
                    <i class="bx bx-plus me-1"></i>
                    <span class="align-middle">Nuevo cliente</span>
                </a> #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No se encontraron domicilios</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_solicitud_index') }}">Volver a la lista de clientes</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }} {# Incluir JavaScript generado para map.js #}
{% endblock %}
