{% extends 'base.html.twig' %}

{% block title %}Editar Georeferenciación{% endblock %}

{% block headerlink %}
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Georeferenciación</a></li>
                    <li class="breadcrumb-item active">Editar ubicación</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }} {# Incluir CSS generado para map.js #}
    <link rel="stylesheet" href="{{ absolute_url(asset('/lib/lib/assets/css/appadmin.css')) }}"/>
    <style>
        .bs-stepper .step-trigger .bs-stepper-circle {
            background-color: #ffffff; /* Fondo blanco por defecto */
            color: #28a745; /* Color del texto dentro del círculo */
        }

        .bs-stepper .step-trigger.active .bs-stepper-circle {
            background-color: #28a745; /* Fondo verde cuando está activo */
            color: #ffffff; /* Texto blanco cuando está activo */
        }
    </style>
    <style>
        .flash-success {
            border: 2px solid #4CAF50; /* Verde */
            background-color: #DFF2BF; /* Verde claro */
            color: #4CAF50; /* Verde oscuro */
            padding: 15px;
            margin: 10px 0;
            border-radius: 5px;
            font-family: Arial, sans-serif;
        }
        .flash-success p {
            margin: 0;
        }
    </style>
{% endblock %}

{% block body %}
{# Mostrar errores generales del formulario #}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}


    {% for message in app.flashes('success') %}
        <div class="flash-success">
            <p>{{ message }}</p>
            <button onclick="this.parentElement.style.display='none';" class ="btn btn-coop" >Aceptar</button>
        </div>
    {% endfor %}
   

    {{ form_start(form, {'attr': {'class': 'form-class', 'action': path('domicilio_edit')}}) }}

    

    <div class="row">
        <div class="col-12">
            <h5>Editar ubicación</h5>
        </div>

        <!-- Default Wizard -->
        <div class="col-12 mb-4">
            <small class="text-light fw-medium">Basic</small>
            <div class="bs-stepper wizard-numbered mt-2">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#account-details">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label mt-1">
                                <span class="bs-stepper-title">Datos Cliente</span>
                                <span class="bs-stepper-subtitle">Modificación datos cliente</span>
                            </span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="bx bx-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#personal-info">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label mt-1">
                                <span class="bs-stepper-title">Ubicación</span>
                                <span class="bs-stepper-subtitle">Ubicación actual</span>
                            </span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="bx bx-chevron-right"></i>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- Account Details -->
                    <div id="account-details" class="content">
                        <div class="content-header mb-3">
                            <h6 class="mb-0">Datos del Cliente</h6>
                            <small>Ingresar la información del cliente</small>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.TipoDir) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Pais) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Provincia) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Canton) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Parroquia) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Direccion) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Urbanizacion) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Observaciones) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Referencia) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.Sector) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.NombrePropet) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.ZonaPost) }}
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-3">
                                <div class="px-1">
                                    {{ form_row(form.FIngresoRef) }}
                                </div>
                            </div>
                        </div>    
                        <div class="row g-3">
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-label-secondary btn-prev" type="button" disabled>
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="align-middle d-sm-inline-block d-none">Regresar</span>
                                </button>
                                <button class="btn btn-coop btn-next" type="button">
                                    <span class="align-middle d-sm-inline-block d-none me-sm-1">Siguiente</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Personal Info -->
                    <div id="personal-info" class="content">
                        <div class="row g-3">
                            <h1>Ubicación del Cliente</h1>
                            <div class="col-md-3 mb-2"></div>
                        </div>
                        <div id="message" style="display:none;"></div>
                        <div class="row g-3">
                            <div class="col-md-6 mb-4">
                                <div class="px-1">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Ingresa una dirección...">
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 d-flex align-items-center">
                                <button type="button" class="btn btn-coop" id="searchButton">Buscar</button>
                            </div>
                        </div>
                         <div class="row g-3">
                            <div class="col-md-12 mb-3">
                                <div id="map" style="width: 100%; height: 400px;"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex align-items-center mb-2">
                                    <label for="latitude" class="me-2">Latitud:</label>
                                    <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                                    
                                    <label for="longitude" class="me-2">Longitud:</label>
                                    <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center mb-2">
                                    {{ form_row(form.cUsuarioGeoref) }}
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    {{ form_row(form.fUltimaGeor) }}
                                </div>
                            </div>
                        </div>
                                   
                        <br>
                        <div class="row g-3">
                            <div class="col-12 d-flex justify-content-between">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn-coop', 'onclick': 'setValues()'}}) }}
                            </div>
                        </div>
                    </div>
                    
        </div>
                
            </div>
        </div>
    </div>
    <!-- /Default Wizard -->
    {{ form_end(form) }}

    <a href="{{ path('app_tpersonainfo_location', {'CPersona': CPersona}) }}">Volver a la lista</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }} {# Incluir JavaScript generado para map.js #}
    {# <script src="{{ asset('js/map.js') }}"></script> #}
    <script src="{{ asset('/lib/lib/assets/js/form-wizard-numbered.js') }}"></script> {# Incluir script personalizado para wizard numerado #}

    <script>
    document.querySelector('form').addEventListener('submit', function() {
        var latitudeValue = document.getElementById('latitude').value;
        document.getElementsByName('latitude')[0].value = latitudeValue;
        var longitudeValue = document.getElementById('longitude').value;
        document.getElementsByName('longitude')[0].value = longitudeValue;


    });
    </script>

    <script>
        function setValues() {
            var userName = document.getElementById('form_cusuario').value
            var formattedDate = document.getElementById('form_formattedDate').value
            document.getElementById("form_cUsuarioGeoref").value = userName;
            document.getElementById("form_fUltimaGeor").value = formattedDate;
        }
    </script>
{% endblock %}
